* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: .2s linear;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header .logo {
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
    letter-spacing: -2px;
}

header .logo span {
    color: #d4b895f4;
    font-weight: 400;
}

header .navbar a {
    font-size: 2rem;
    margin: 0 1.5rem;
    color: #333;
    padding-bottom: 1rem;
}


header .navbar a:hover {
    color: #d4b895;
    border-bottom: 1px solid #d4b895;
}

header .navbar .active {
    color: #333;
}

header .navbar .active:hover {
    color: #333;
}

header .member-btn a {
    background-color: black;
    padding: 1rem 1.5rem;
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 4px;
    font-weight: 500;
}

header .member-btn a:hover {
    background-color: #d4b895;
    color: #333;
}

header #toggler {
    display: none;
}

header .fa-bars {
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    display: none;
}
header .member-icon{
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../images/home.png) rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center center;
}

.content {
    margin-top: 200px;
    text-align: center;
    line-height: 80px;
}
.content h1 {
    font-size: 40px;
    color: #fff;
    line-height: 35px;
    margin-bottom: 50px;
}
.content h1 span {
    color: #d4b895;
    font-weight: 400;
}

.content p {
    color: #fff;
    font-size: 18px;
    margin-bottom: 25px;
    line-height: 22px;
}
.content a {
    padding: 1rem 3rem;
    background-color: #fff;
    font-size: 18px;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
}
.content a:hover {
    background-color: black;
    color: #fff;
}

/* discover what moves you section */
.move {
    margin-top: 35 px;
    text-align: center;
}
.move-content{
    padding-top: 50px;
    padding-bottom: 50px;
}

.move h1 {
    font-size: 35px;
    margin-bottom: 30px;
}

.move p {
    font-size: 20px;
    margin: 0 auto;
    line-height: 30px;
    padding-left: 10%;
    padding-right: 10%;
}

/*class container*/
.container {
    padding: 15px 9%;
    padding-bottom: 100px;
}

.container .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 17px;
}

.container .box-container .box img {
    width: 280px;
    height: 180px;
}

.container .box-container .box h3 {
    color: black;
    font-size: 20px;
    padding: 10px 0;
}

.container .box-container .box p {
    color: #777;
    font-size: 15px;
    line-height: 1.8;
}


/*image text section*/
.text-imagee {
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
}

.text-imagee-container {
    width: 90%;
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    width: 50%;
    height: 600px;
    background: url(../images/left.jpg) no-repeat center / cover;
    border-radius: 8px;
}

.right {
    width: 50%;
    min-height: 600px;
    max-height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    color: rgb(20, 20, 20);   
}

.right .text-text {
    padding-top: 10px;
}

.right .text-text h3 {
    font-size: 14px;
}

.right .text-text h2 {
    font-size: 40px;
    font-weight: bolder;
}

.right .text-text p {
    margin: 20px 0;
    font-weight: 500;
    line-height: 30px;
    font-size: 20px;
    color: #333;
    font-weight: 500;
}

.right .text-text a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: rgb(20, 20, 20);
    border: 2px solid rgb(20, 20, 20);
    border-radius: 8px;
    padding: 20px 30px;
    display: inline-block;
    letter-spacing: 2px;
}
.right .text-text a:hover {
    background-color: rgb(20, 20, 20);
    color: rgb(255, 255, 255);
}

.newsletter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-height: 200px;
    background-color: #000;
}
.newsletter-text{
    margin-left: 12%;
    color: #fff;
}

.newsletter-text h2{
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 20px;
}
.newsletter-text p{
    font-size: 18px;   
}
.newsletter-form{
    margin-right: 12%;
}
.newsletter-form input{
    width: 250px;
    padding: 16px 20px; 
    box-sizing: border-box;
    border-radius: 8px 0  0 8px;
}
.newsletter-form a{
    margin-left: -3px;
    color: white;
    background-color: #333;
    border-radius: 0 8px 8px 0;
    padding:14px 15px 15px 10px;
    font-size: 16px;
}
footer {
    margin-top: 50px;
    height: 100px;
}
.social-media {
    text-align: center;
}
.social-media > li {
    display: inline;
}
.social-media a {
    color: #333;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
}
footer h3 {
    text-align: center;
    margin-top: 20px;
    color: #333;
    letter-spacing: 2px;
}





@media (max-width:991px) {

    html {
        font-size: 55%;

    }

    header {
        padding: 2rem;
    }


}


@media (max-width:768px) {

    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #fbf9f6;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

    }

    header #toggler:checked~.navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background-color: #fff;
        border: .1rem solid rgba(0, 0, 0, .1);
        display: block;
    }

    header .member-btn a {
        letter-spacing: normal;
    }


}

@media (max-width:480px) {

    html {
        font-size: 50%;  
    }

    header .member-btn a {
        visibility: hidden;
    }

    header .member-icon{
        display: block;
        font-size: 25px;
        margin-right: 10%;
    }
    header .member-icon a{
        color: rgb(20, 20, 20);
    }
    .move h1 {
        font-size: 25px;
    }

    .container {
        padding: 15%;
    }
    .text-imagee-container {
        display: block;       
    }
    .left {
        width: 100%;
    }
    
    .right {
        width: 80%;
        display: block; 
        background-color: #fff;  
        margin-top: -100px;
        margin-left: 10%;
    }
    .right .text-text{
        text-align: center;
    }

    .newsletter{
        display: block;  
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .newsletter-text{
        text-align: center;
        margin-left: 0;

    }
    .newsletter-form{
        margin-right: 0;
        margin-left: 9%;
        margin-top: 20px;
    }
    .newsletter-form input{
        width: 180px;
        padding: 16px 20px; 
        box-sizing: border-box;
        border-radius: 8px 0  0 8px;
    }
    .newsletter-form a{
        margin-left: -3px;
        color: white;
        background-color: #333;
        border-radius: 0 8px 8px 0;
        padding:14px 15px 15px 10px;
        font-size: 16px;
    }
}